/* Form groups are styled with description lists - <dl>, <dt>, <dd>
   labels are in <dt>, inputs are in <dd>*/

.form-group {

  dt {
    padding: 6px 3px 0px 3px;
    color:$text-gray-dark;
    font-weight: 400;
  }

  dd {
    padding: 0px 3px 6px 3px;
  }
}
