/*

Form groups are styled with description lists - <dl>, <dt>, <dd>
labels are in <dt>, inputs are in <dd>

<dl class="form-group">
  <dt>Label</dt>
  <dd><form element></dd>
</dl>

Only one from element per <dl> unless there's supposed to be than one.  Radio
buttons and the like.

*/

.form-group {

  dt {
    padding: 6px 3px 0px 3px;
    color:$text-gray-dark;
    font-weight: 400;
  }

  dd {
    padding: 0px 3px 6px 3px;
  }
}
