// Sections
.section {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

// Fixed-width centered column
.container {
  width: $container-width;
  margin-right: auto;
  margin-left: auto;

  &>.columns {
    margin-left: -$grid-gutter;
    margin-right: -$grid-gutter;
    font-size: 0; // Bloody stupid inline block failure.  Reset in .column
  }
}

.columns {
  font-size: 0; // Bloody stupid inline block failure.  Reset in .column
}

.column {
  font-size: $body-font-size;
  display: inline-block;
  padding-right: $grid-gutter;
  padding-left: $grid-gutter;
}

// Columns widths for .column elements
.one-half {
  width: 50%;
}

.one-third {
  width: 33%;
}

.two-thirds {
  width: 66%;
}

// Floats
.left {
  margin-right: auto;
}

.right {
  margin-left: auto;
}
