// Sections
.section {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

// Fixed-width centered column
.container {
  width: $container-width;
  margin-right: auto;
  margin-left: auto;
}

.container.document {
  width: 100%;
  margin: 0;
}

.columns {
  margin-left: -$grid-gutter;
  margin-right: -$grid-gutter;
  font-size: 0; // Bloody stupid inline block failure.  Reset in .column
}

.column {
  font-size: $body-font-size;
  display: inline-block;
  padding-right: $grid-gutter;
  padding-left: $grid-gutter;
  vertical-align: top;
}

// Columns widths for .column elements
.c1-2 {
  width: 50%;
}

.c1-3 {
  width: 33%;
}

.c2-3 {
  width: 66%;
}

.c1-4 {
  width: 25%;
}

.c3-4 {
  width: 75%;
}

.c2-12 {
  width: 16.66%;
}

.c5-12 {
  width: 41.66%;
}

.c7-12 {
  width: 58.33%;
}

// Floats
.left {
  float: left;
}

.right {
  float: right;
}
