/* Tables are implemented in <div> elements.
   Controversial, but easier to style.
*/

// Variables
$border-radius: 3px;

// Table dress ups
.table-wrap {
  border: 1px $gray-medium solid;
  border-radius: $border-radius;
}


// Table stuff
table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;

  thead {
    background-color: $gray-light;
    border-bottom: 1px $gray-medium solid;
  }

  tr {
    border-bottom: 1px $gray-medium solid;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: $gray-light;
    }
  }

  td, th {
    padding: 6px 3px;
  }

  th {
    font-weight: 400;
  }
}
