// Container for tabnavs
.tabnav {
  margin-top: 0;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;

  .counter {
    margin-left: 5px;
  }
}

.tabnav-tabs {
  margin-bottom: -1px;
}

.tabnav-tab {
  display: inline-block;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 20px;
  color: #666;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom: 0;

  &.selected {
    color: $text-gray-dark;
    background-color: $bg-white;
    border-color: #ddd;
    border-radius: 3px 3px 0 0;
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }
}
