/*

Markup for tabnavs should look like the following:

<div class="tabnav">
  <div class="tabnav-tabs">
    <a class="tabnav-tab">Value</a>
  </div>
</div>

if the tab is selected, then add .selected class

a class="tabnav-tab selected">Value</a>

*/

// Container for tabnavs
.tabnav {

  .counter {
    margin-left: 5px;
  }
}

.tabnav-tabs {
  margin-top: 10px;
  margin-bottom: -1px;
}

.tabnav-tab {
  display: inline-block;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 20px;
  color: #666;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 3px 3px 0 0;

  &.selected {
    color: $text-gray-dark;
    background-color: $bg-white;
    border-color: $gray-medium $gray-medium $white;
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }
}
